
.row{
    img{
        height: 228px !important;
        cursor: pointer !important;
    }
    .header{
.main-header{
    p{
        color: var(--color-primary);
    }
}
.border{
    height: 2px;
    background-color: var(--color-primary);
    opacity: 0.5;
}
}
h1{
    color: var(--color-tertiary) !important;
}
}
