
.navbar {
    height: 60px !important;
    background-color: var(--main-color) !important;
    .navbar-brand {
      font-size: 35px !important;
    }
  button {
    width: 40px;
    border: 1px solid var(--color-tertiary) !important;
    i {
      color: var(--color-tertiary) !important;
      font-size: 20px;
    }
    &:focus {
      outline: 1px solid var(--color-tertiary) !important;
    }
  }
  a,
  i,
  span {
    color: var(--color-tertiary) !important;
    font-size: 17px !important;
    transition: 2s !important;
    cursor: pointer;
    &:hover {
      color: var(--color-primary) !important;
    }
  }
  i {
    margin-right: 20px;
    font-size: 16px !important;
    cursor: pointer;
  }
  .collapse{
    background-color: var(--main-color) !important;
  }
}
@media (max-width: 900px) {
  nav {
    height: 60px !important;
    padding: 0 !important;
    padding-top: 5px !important;
}
.collapse{
  padding: 15px;
  border: 1px solid var(--color-tertiary) !important;
  border-top: 0  !important;
  transition: 1s !important;
  &:hover{
    border: 1px solid var(--color-primary) !important;
     border-top: 0  !important;
  }
  }
}
